@{
    ViewBag.Title = "IndexUser";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="span9">
    <a class="row">
        <section id="projects">
            @{Html.RenderPartial("FileList");}
        </section>
    </a>

</div>
